{% extends 'base.html' %}
{% block content %}
    <h1>This is your Profile</h1>
    <form action="" >
        <div class="form-group">
            <p>Your name is {{current_user.first_name}} {{current_user.last_name}}</p>
            <p>Username : {{current_user.username}}</p>
            <p>Email : {{current_user.email}}</p>
        </div>
        <div class="form-group">
            <input type="submit" value="Edit details" class="mybtn">
        </div>
        <small class="form-group">
            Go back to homepage? <a href="{{url_for('index')}}" class="">Home</a>
        </small>
    </form>
{% endblock content %}
